<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Online Appointment</h2>
        <h3 class="oe_slogan">Let visitors schedule appointments over your website</h3>        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">        
        <div class="oe_span6">
			<p>Visitors can book appointments over the website. A calendar pops up, the days marked green are available for selection.
			After selecting a date the visitor needs to choose a timeslot and a appointment option. In the backend you define per
			user his available timeslots. Only timeslots are selectable by the visitor when no other "calendar.event" is present for that period of time.
			Appointment options you define globally in the backend and have a duration. This way a "calendar.event" is created with the correct start and stop.</p>
			<p>By default only registered users are allowed to schedule appointments. If you also want public users to schedule appointments, create the parameter 's2u_online_appointment' with value 'public' in your 'ir.config_parameter'.</p>
			<p><b>Works on desktop and mobile devices!</b></p>
        </div>        
		<div class="oe_span6">
		    <h2>Screenshots</h2>
			<p>The appointment page is accessed by: <b>/online-appointment</b></p>
			<h2>Public users will receive an error if config parameter 's2u_online_appointment' is not set.</h2>
		    <div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-01.png">            
			</div>
		</div>	
		<div class="oe_span6">
		    <h2>A calendar pops up, green days have free timeslots the visitor can choose from:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-02.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>After selecting a day, only possible timeslots are selectable based on the internal Flectra calendar:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-03.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>Define your subjects and slots in the website configuration:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-04a.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>Appointments are visible in the Flectra calendar:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-04b.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>The timeslot is blocked for other visitors when scheduled:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-05.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>Scheduled appointments are visible in portal:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-07.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>And can be canceled by the customer:</h2>
			<div class="oe_demo oe_picture oe_screenshot">
                <img src="online-appointment-08.png">            
			</div>
		</div>
		<div class="oe_span6">
		    <h2>Extend the module by using a 'criteria':</h2>
			<p>You can extend the module by adding a field like 'slot_type' or 'option_type', and make your own end points for different calendar types. For example having 1 calendar for general appointments and a second for the employees to schedule internal meetings.</p>
		</div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>